.navbar {
    background-color: #1d3557eb;
    backdrop-filter: blur(10px);
    color: #f1faee;
    padding: 10px 5px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
}